@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth
  }
  body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(166, 166, 166, 0.547);
}

nav .main-menu a:hover {
  color: white !important; 
}

@keyframes animation-header {

  0% {
      opacity: 0;


  }
  
  100%{
      opacity: 1;
  }
}

.navbar-custom{
  width: 100%;
  background-color: rgb(195, 98, 8) !important;
  position: fixed;
  top: 0;
  z-index: 50;
  animation-name: animation-header;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.b-nav{
  display: flex;
  align-items: center;
  padding:0px 16px;
  gap: 16px;
}
.b-nav img{
  height: 42px;
}

.navbar-nav-custom{
  width: 100%;
  justify-content: end;
  padding-right: 12px;
  color: white !important;
  
}

.active-custom {
  color: rgb(0, 0, 0) !important;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover; 
}
.carousel-custom h5{
  font-size: 28px;
  color: rgb(59, 59, 59) !important;
  text-shadow: 2px 2px 0px rgba(247, 127, 21);
}
.carousel-custom p{
  font-size: 20px;
  color: rgb(59, 59, 59) !important;
  text-shadow: 1px 1px 0px rgba(247, 127, 21);
}
#promo{
  scroll-margin-top: 500px;
}
.card_wrap{
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding: 5px;
  height: 60vh;
  margin: 10px;
  overflow: hidden;
  margin-top: 50px;
}
.card_wrap1{
  display:flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding: 5px;
  height: 60vh;
  margin: 10px;
  overflow: hidden;
  margin-top: 50px;
}
.Product_text {
  width: 50%;
  min-width: 320px;
}
.Right{
  text-align: end;
}
.Name{
font-size:x-large;
font-weight: bold;
}
.Valor{
font-size:x-large;
text-decoration: underline;
}
.Desconto{
font-size: small;

}
.Desc{
text-align: center;
}
.Size{
font-size: small;
}
.wpp_button {
  background-color: rgb(37, 211, 102);
  color: rgb(255, 255, 255);
  border: none; 
  padding: 10px 20px; 
  border-radius: 20px;
  display: block; 
  width: fit-content; 
  margin: 0 auto;  
  text-align: center;
  text-decoration: none; 
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; 
}
.midia_container {
  width: 45%;
  min-width: 320px;         
  max-height: 70vh;          
  overflow: hidden;          
  position: relative;
}

.Prod_pic {
  width: 240px;              
  height: 307px;             
  object-fit: contain;      
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s;
}
.Prod_pic:hover {
  transform: scale(1.4);
  z-index: 1; 
}
.row_flex{
  display: flex;
  gap: 50px;
justify-content: center;
flex-wrap: wrap;
}
.footer{
  background-color: rgb(195, 98, 8);
  font-family:'Roboto', sans-serif;
  padding: 2px 30px;
}
.footer_custom{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.footer_img{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  transition: 0.5s;
  object-fit: cover;
}

@media (max-width: 715px) {
  .card_wrap{
    flex-direction: column-reverse;
    height: 700px;
    justify-content: center;
    align-items: center;
  }
  .card_wrap1{
    height: 800px;
    justify-content: center;
    align-items: center;
  }
  .Product_text{
    text-align: center;
  }
  .Right{
    text-align: center;
  }
}
.Dashed{
  text-decoration:line-through;
}